/* All Common Css Start */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* All Common Css End */

/* Header Part Start */
#headerPart{
    padding: 50px 0;
    background: black;
}

.content {
    display: flex;
    justify-content: space-between;
}

.listItem ul li a{
    color: #fff;
    font-family: "Source Sans 3", serif;
    font-size: 20px;
}
.listItem ul li{
    display: inline-block;
    padding: 0 25px;
}
button{
    background: #d6c394;
    height: 30px;
    width: 110px;
    color: #fff;
    font-family: "Source Sans 3", serif;
    font-size: 20px;
    border-radius: 5px;
}
/* Header Part End */